# -----------------------
# Arquivos Compilados
# -----------------------
*.class

# -----------------------
# Logs
# -----------------------
*.log
hs_err_pid*
replay_pid*

# -----------------------
# IDEs
# -----------------------
# IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr

# Eclipse
*.settings/
.metadata/
*.classpath
*.project

# VSCode
.vscode/

# -----------------------
# Arquivos de Build e Empacotamento
# -----------------------
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# -----------------------
# Maven e Gradle
# -----------------------
target/
.mvn/
dependency-reduced-pom.xml
release.properties

.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar

# -----------------------
# Relatórios de Teste
# -----------------------
surefire-reports/
test-output/
*.diff
*.xml
*.txt

# -----------------------
# Arquivos Temporários e Sensíveis
# -----------------------
*.tmp
*.bak
*.old
*.ctxt

# -----------------------
# Configurações Locais e Variáveis de Ambiente
# -----------------------
.env
*.env

# -----------------------
# Arquivos de Configuração do Spring
# -----------------------
application.properties
application.yml
application-*.properties
application-*.yml

# -----------------------
# Banco de Dados
# -----------------------
*.h2.db
*.mv.db
*.db
*.sqlite
*.sql

# -----------------------
# Docker e Ferramentas de Deploy
# -----------------------
docker-compose.override.yml
docker-compose.local.yml
*.env

# -----------------------
# Arquivos específicos do sistema operacional
# -----------------------
.DS_Store
Thumbs.db

